[Unit]
Description=KubeDiag Application For Master Mode
Documentation=https://github.com/kubediag/kubediag
After=network-online.target
Wants=network-online.target

[Service]
EnvironmentFile=/etc/default/kubediag-master

Type=simple

ExecStart=/usr/local/bin/kubediag --mode=${mode} --port=${port} --metrics-port=${metricsPort} --enable-leader-election=${enableLeaderElection}
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -15 $MAINPID

RestartSec=3
Restart=on-failure

KillMode=process

[Install]
WantedBy=multi-user.target